body {
  background: grey;
  font-family: helvetica, ariel sans-serif; }

p {
  margin: 20px 5%;
  color: black; }

h2 {
  color: grey;
  margin: 10px 1%; }

a {
  color: black;
  text-decoration: none; }

.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

/* form starting stylings ------------------------------- */
.inForm {
  color: white; }

.group {
  position: relative;
  margin-bottom: 45px; }
  .group p {
    color: white; }

input {
  font-size: 18px;
  background-color: #000;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid white; }

input, select, textarea {
  color: white; }

input:focus {
  outline: none; }

/* LABEL ======================================= */
label {
  color: grey;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #fff; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 320px; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: grey;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: white; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: white; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: white; }
  to {
    width: 0;
    background: transparent; } }
div {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 0;
  width: 100%; }
  div .feature {
    border: 2px solid red; }

#wrapper {
  width: 90%;
  margin-left: 10%; }

section {
  background-color: #fff;
  position: relative;
  width: 91%;
  height: 100%;
  padding-left: 5%;
  margin-top: 0;
  display: inline-block;
  overflow: auto;
  overflow-x: hidden; }

.topSection {
  background-color: #e1e1e1; }
  .topSection p {
    color: yellow; }

.secFlip {
  padding-left: 100px;
  height: 580px; }

.flipBox {
  display: inline-block; }

#divProject {
  padding-left: 20px;
  display: none; }

#divAbout {
  padding-left: 20px;
  display: none; }

#nav {
  -webkit-border-radius: 20px 0 0 0;
  -moz-border-radius: 20px 0 0 0;
  border-radius: 20px 0 0 0;
  margin-left: 10%;
  height: 80px;
  background-color: #efefef;
  display: inline-block;
  width: 90%;
  position: relative;
  padding-bottom: 10px; }
  #nav #imgMe {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-left: 50px;
    background: url(../img/sc2.jpg) no-repeat;
    background-size: 70px 70px;
    float: left;
    /*box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .8);*/ }

#footer {
  -webkit-border-radius: 0 0 0 20px;
  -moz-border-radius: 0 0 0 20px;
  border-radius: 0 0 0 20px;
  height: 60px;
  background-color: #efefef;
  margin-left: 10%;
  width: 90%; }
  #footer p {
    float: right;
    margin: 0;
    padding: 20px 50px 5px 0;
    font-size: .75em; }

.flip3D {
  width: 0;
  height: 0;
  margin: 10px;
  display: inline-block;
  display: inline-block;
  float: left; }
  .flip3D p {
    margin: 15px 4%; }
  .flip3D:hover > .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg); }
  .flip3D:hover > .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg); }
  .flip3D .front {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: white;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .4s linear 0s;
    transition: transform .4s linear 0s; }
  .flip3D .back {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: url("../img/sun01.jpeg") no-repeat;
    background-size: 180px, 160px;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .5s linear 0s;
    transition: transform .5s linear 0s; }

.flip3DTWO {
  width: 0;
  height: 0;
  margin: 10px;
  display: inline-block;
  display: inline-block;
  padding-left: 165px; }
  .flip3DTWO p {
    margin: 15px 4%; }
  .flip3DTWO:hover > .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg); }
  .flip3DTWO:hover > .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg); }
  .flip3DTWO .front {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: whitesmoke;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .4s linear 0s;
    transition: transform .4s linear 0s; }
  .flip3DTWO .back {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: url("../img/sun02.jpeg") no-repeat;
    background-size: 180px, 160px;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .5s linear 0s;
    transition: transform .5s linear 0s; }

.flip3DTHREE {
  width: 0;
  height: 0;
  margin: 10px;
  display: inline-block;
  display: inline-block;
  padding-left: 160px; }
  .flip3DTHREE p {
    margin: 15px 4%; }
  .flip3DTHREE:hover > .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg); }
  .flip3DTHREE:hover > .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg); }
  .flip3DTHREE .front {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: #ebebeb;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .4s linear 0s;
    transition: transform .4s linear 0s; }
  .flip3DTHREE .back {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: url("../img/sun03.jpeg") no-repeat;
    background-size: 180px, 160px;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .5s linear 0s;
    transition: transform .5s linear 0s; }

.flip3DFOUR {
  width: 0;
  height: 0;
  margin: 10px;
  display: inline-block;
  padding-top: 140px;
  display: inline-block; }
  .flip3DFOUR p {
    margin: 15px 4%; }
  .flip3DFOUR:hover > .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg); }
  .flip3DFOUR:hover > .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg); }
  .flip3DFOUR .front {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: whitesmoke;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .4s linear 0s;
    transition: transform .4s linear 0s; }
  .flip3DFOUR .back {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: url("../img/sun10.jpeg") no-repeat;
    background-size: 180px, 160px;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .5s linear 0s;
    transition: transform .5s linear 0s; }

.flip3DFIVE {
  width: 0;
  height: 0;
  margin: 10px;
  display: inline-block;
  padding-top: 140px;
  display: inline-block;
  padding-left: 160px; }
  .flip3DFIVE p {
    margin: 15px 4%; }
  .flip3DFIVE:hover > .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg); }
  .flip3DFIVE:hover > .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg); }
  .flip3DFIVE .front {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: #e1e1e1;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .4s linear 0s;
    transition: transform .4s linear 0s; }
  .flip3DFIVE .back {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: url("../img/sun11.jpeg") no-repeat;
    background-size: 180px, 160px;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .5s linear 0s;
    transition: transform .5s linear 0s; }

.flip3DSIX {
  width: 0;
  height: 0;
  margin: 10px;
  display: inline-block;
  padding-top: 140px;
  display: inline-block;
  padding-left: 160px; }
  .flip3DSIX p {
    margin: 15px 4%; }
  .flip3DSIX:hover > .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg); }
  .flip3DSIX:hover > .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg); }
  .flip3DSIX .front {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: #d7d7d7;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .4s linear 0s;
    transition: transform .4s linear 0s; }
  .flip3DSIX .back {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: url("../img/sun12.jpeg") no-repeat;
    background-size: 180px, 160px;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .5s linear 0s;
    transition: transform .5s linear 0s; }

.flip3DSEVEN {
  width: 0;
  height: 0;
  margin: 10px;
  display: inline-block;
  padding-top: 140px;
  display: inline-block; }
  .flip3DSEVEN p {
    margin: 15px 4%; }
  .flip3DSEVEN:hover > .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg); }
  .flip3DSEVEN:hover > .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg); }
  .flip3DSEVEN .front {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: #e1e1e1;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .4s linear 0s;
    transition: transform .4s linear 0s; }
  .flip3DSEVEN .back {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: url("../img/sun20.jpeg") no-repeat;
    background-size: 180px, 160px;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .5s linear 0s;
    transition: transform .5s linear 0s; }

.flip3DEIGHT {
  width: 0;
  height: 0;
  margin: 10px;
  display: inline-block;
  padding-top: 140px;
  display: inline-block;
  padding-left: 160px; }
  .flip3DEIGHT p {
    margin: 15px 4%; }
  .flip3DEIGHT:hover > .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg); }
  .flip3DEIGHT:hover > .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg); }
  .flip3DEIGHT .front {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: #cdcdcd;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .4s linear 0s;
    transition: transform .4s linear 0s; }
  .flip3DEIGHT .back {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: url("../img/sun21.jpeg") no-repeat;
    background-size: 180px, 160px;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .5s linear 0s;
    transition: transform .5s linear 0s; }

.flip3DNINE {
  width: 0;
  height: 0;
  margin: 10px;
  display: inline-block;
  padding-top: 140px;
  display: inline-block;
  padding-left: 160px; }
  .flip3DNINE p {
    margin: 15px 4%; }
  .flip3DNINE:hover > .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg); }
  .flip3DNINE:hover > .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg); }
  .flip3DNINE .front {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: #c3c3c3;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .4s linear 0s;
    transition: transform .4s linear 0s; }
  .flip3DNINE .back {
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: url("../img/sun22.jpeg") no-repeat;
    background-size: 180px, 160px;
    width: 180px;
    height: 160px;
    border-radius: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: transform .5s linear 0s;
    transition: transform .5s linear 0s; }

.circle {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  display: block; }

.triangle {
  width: 0;
  height: 0;
  border-left: 140px solid purple;
  border-bottom: 140px solid transparent;
  border-top: 140px solid transparent;
  display: block; }

.navText {
  color: black;
  font-size: 20px;
  padding-left: 120px; }

#linkProject {
  text-decoration: none;
  color: black;
  padding: 3px; }
  #linkProject:hover {
    border-top: 2px solid red; }

#linkAbout {
  text-decoration: none;
  color: black;
  padding: 3px; }
  #linkAbout:hover {
    border-top: 2px solid red; }

#linkContact {
  text-decoration: none;
  color: black;
  padding: 3px; }
  #linkContact:hover {
    border-top: 2px solid red; }

#textWho {
  color: black;
  padding-right: 100px;
  font-size: .75em;
  font-weight: 600; }

.faceIcon {
  width: 3em;
  height: 3.2em;
  display: inline-block; }

/*****************************************
	POP UP
*****************************************/
#popup-content {
  background-color: #000;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: white;
  max-width: 80%;
  padding: 0 10px 10px 10px;
  width: 50%;
  display: none;
  position: fixed;
  z-index: 1003; }
  #popup-content h2 {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    padding: 10px; }
  #popup-content p {
    color: white; }
  #popup-content a {
    color: #fff; }
    #popup-content a:hover {
      text-decoration: underline; }

#popup-content > div + div {
  text-align: right; }

#blur {
  border-radius: 0;
  background-color: #fff;
  background: url(../img/blurTwo.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  margin: auto;
  opacity: .7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  display: none;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px); }

#overlay-bg {
  border-radius: 0;
  background-color: #000;
  height: 100%;
  left: 0;
  margin: auto;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1002;
  display: none; }

.inPopDiv {
  vertical-align: top;
  width: 30%;
  display: inline-block; }

/*# sourceMappingURL=application.css.map */
