// TOP NAV BAR LINKS   
// login redirects to PSU Cast login 

#login {
	/*
	color: white;
	float: right;
	text-shadow: 1px 1px 1px black;
	*/
}

//buttons for student/member/admin options
.btnOptions {
	@include border-radiusPick(10px);
	
}

//FILE FIELDS
#fileUpload {
	background-color: white;
	color: black;
}