//FONT SIZES, COLORS, and POSITIONING

.navText {
	color: $defaultText;
	float: right;
	font-size: 20px;
	//padding-left: 120px;
	display: inline-block;
}

.navHeader {
	color: white;
	font-size: 22px;
	padding-top: 1px;
	display: inline-block;
	text-shadow: 1px 1px 1px black;
}

.aIn {
	@include linkInsideStuff;
	
	&:after {
		@include insideLinks;
	}
	&:hover:after {
		@include insideHover;
	}	
}

#textWho {
	color: $defaultText;
	//padding: 0;
	padding-right: 100px;
	font-size: .75em;
	font-weight: 600;
}

#cTable {
	color: $defaultText;
	margin: 0;
	padding: 0;
	align: left;
	font-size: 1em;
	font-weight: 600;
}

ol {
	li {
		color: $defaultText;
		font-size: .75em;
	}
}


